body {
	transition: color 0.2s linear;
}

.about-description {
	margin-top: 5%;
	margin-bottom: 5%;
}

.about-description p {
	margin-left: 10%;
	margin-right: 10%;

	margin-top: 5%;
	margin-bottom: 5%;

	font-size: 1.5em;
}

.about-description a {
	font-weight: bold;
	text-decoration: none;
}

.img-container{
	width: 100%;
	height: 100px;
	overflow: hidden;
	cursor: pointer;

	transition: height 0.4s ease-in-out;
}

.img-container img {
	width: 50%;
	height: auto;
	display: block;
	margin: auto;

	border: 3px solid black;
	padding: 10px;
}

@media (max-width: 500px) and (orientation: portrait){
	body {
	}

	.about-description p {
		font-size: 1em;
	}

	.img-container {
		height: 30px;
	}

	.img-container img {
		width: 90%;
	}

}
