.left-align, .right-align{
	width: 45%;
}

.left-align{
	float: left;
	padding-right: 4%;
}

.right-align{
	float: right;
	padding-left: 4%;
	text-align: right;
}

.semesters {
	width: 100%;
	float: left;
	height: auto;
	margin-bottom: 60px;
}

.semester-title {
	font-size: 2.4em;
	font-weight: bold;

	margin-bottom: 5%
}

.action-button, .comp-med-btn, .pcomp-btn, .mdt-btn {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}


.button-container .comp-med-btn:hover{
	border-bottom: 4px solid lightgreen;
}


.button-container .pcomp-btn:hover{
	border-bottom: 4px solid pink;
}

.button-container .mdt-btn:hover{
	border-bottom: 4px solid lightblue;
}

.button-center{
	width: 30%;
	height: auto;
}


/** COURSES STYLING **/

hr {
	height: 3px;
	border: none;
	background-color: black;
	/*float: left;*/
}

.not-offered {
	opacity: 0.5
}

.course-container{
	height: auto;
	overflow: hidden;
	width: 100%;
	border: 3px-solid-black;
	margin-bottom: 30px;
	padding: 10px;

	cursor: pointer;

	transition: opacity 0.2s linear;
}

.course-title {
	font-size: 1.3em;
	font-weight: bold;
	width: 75%;
}

.course-number {
	width: 25%;
}

.course-link {
	font-weight: bold;
}

.expand-container {
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease-in-out;
}

.course-instructors, .course-link{
	width: 40%;
}

.course-desc-long, .course-tags {
	text-align: justify;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.course-desc-long {
	font-style: italic;
}

.left-align .course-title, .left-align .course-instructors {
	float: left;
}

.left-align .course-number, .left-align .course-link {
	float: right;
	text-align: right;
}

.right-align .course-number , .right-align .course-link{
	float: left;
	text-align: left;
}

.right-align .course-title, .right-align .course-instructors {
	float: right;
}

/** TRACKS STYLING **/

.requirements {
	border: 3px solid black;
}

.requirements .course-number {
	background-color: orange;
}

.computational-media {
	border: 3px solid black;
}

.computational-media .course-number {
	background-color: lightgreen;
}

.physical-computing {
	border: 3px solid black;
}

.physical-computing .course-number {
	background-color: pink;
}

.media-and-design-thinking {
	border: 3px solid black;
}

.media-and-design-thinking .course-number{
	background-color: lightblue;
}


@media (max-width: 500px) and (orientation: portrait){
	.left-align, .right-align{
		width: 100%;
		float: left;
		text-align: left;
		padding: 0;
	}

	.button-center{
		width: 34%;
	}

	.right-align .course-number , .right-align .course-link{
		float: right;
		text-align: right;
	}

	.right-align .course-title, .right-align .course-instructors {
		float: left;
	}

	.course-title {
		width: 50%;
	}

	.course-number, .course-program {
		float: right;
		text-align: right;
		width: 30%;
	}

	.course-desc-short {
		float: left;
		padding-top: 20px;
		width: 100%;
	}

	.expand-container, hr {
		float: left;
		width: 100%;
	}
}
