#nav-dropdown-container{
	z-index: 3;

    width: 75%;         /*When screen is small, middle section disappears so header becomes 2 elements, not 3 */
    height: 100%;
    padding: 0px;

}

#nav-dropdown{

    width: auto;       /*Size of 'IM' + down arrow */
    height: 100%;       /*Height fills header bar*/
    position: relative;

}

#nav-dropdown-btn{
    /*background: var(--main-colour);   << Disable this to keep IM logo highlighted during dropdown */

    padding: 0;

    height: 100%;           /*Height fills header bar*/
    display: flex;          /*flexbox to center IM logo and arrow icon*/
    align-items: center;
    cursor: pointer;

    text-align: center center;
}

.im-logo {
  font-size: 2.5em;
  font-weight: bold;
}

#nav-dropdown-btn:hover{

    background: var(--secondary-colour);

}

#nav-dropdown:hover{

    background: var(--secondary-colour);

}

/*Setup style of drop down menu, but do not display yet*/
#nav-dropdown-list{

    background: var(--main-colour);

    position:absolute;
    border: none;
    padding: 0px;
    margin: 0px;

    font-size: 1.2em;
    text-align: center;

    list-style-type: none;
    display: none;
}


#nav-dropdown-list li{

    background: var(--main-colour);
    padding: 5px 10px;

}

#nav-dropdown-list li:hover{

    background: var(--secondary-colour);
    cursor: pointer;

}

#nav-dropdown-list a{

    text-decoration: none;
    color: var(--dark-colour);

}

/*Display the child list elements when hovered*/
#nav-dropdown:hover > #nav-dropdown-list{

    display: inline-block;

}



@media  (min-width: 768px) {

    #nav-dropdown-container{

            width: 50%;
            height: 100%;

            display: flex;
            align-items: center;

    }
}
