/*HEADER*/

#header-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: white;

	height: 5%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 3px solid black;

}

/* NYUAD LOGO LEFT */

.nav-nyuad{
	z-index: 2;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	float: right;
}

.nyuad-logo{
	min-width: 136px;
	min-height: 50px;

	height: 5vh;
	width: auto;
}

.nyuad-logo:hover{
	cursor: pointer;
}

/* DROPDOWN */

.nav-dropdown-container{
    z-index: 3;

    width: 75%;         /*When screen is small, middle section disappears so header becomes 2 elements, not 3 */
    height: 100%;
    padding: 0px;

}

.nav-dropdown{

    width: 100%;       /*Size of 'IM' + down arrow */
    height: 100%;       /*Height fills header bar*/
    position: relative;

}

.nav-dropdown-btn{
    padding: 0;

    height: 100%;           /*Height fills header bar*/
    display: flex;          /*flexbox to center IM logo and arrow icon*/
    align-items: center;
    cursor: pointer;

    text-align: center center;
    transition: color 0.3s linear;
}

.color-shift{
	transition: color 0.2s ease-in-out;
	padding: 0;
	margin: 0;
}

.im-logo {
  font-size: 2.5em;
  font-weight: bold;

  transition: color 0.2s linear;
}


/*Setup style of drop down menu, but do not display yet*/
.nav-dropdown-list{
    background: white;

    position:absolute;
    border: none;
    padding: 0px;
    margin: 0px;
    width: auto;

    font-size: 1.2em;
    text-align: center;

    list-style-type: none;
    display: block;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}


.nav-dropdown-list li{
    padding: 5px 10px;
    display: inline-block;

    transition: color 0.3s linear;

}

.nav-dropdown-list li:hover{
    cursor: pointer;
}

.nav-dropdown-list a{
    width: 100%;
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
}

@media  (min-width: 768px) {

	#header-container{
		background-color: white;
		z-index: 3;
		height: 5vh;
		min-height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    .nav-dropdown-container{

            width: 50%;
            height: 100%;

            display: flex;
            align-items: center;

    }
}
