/*HEADER*/

.header-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: white;

	height: 55px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 3px solid black;

}

/* NYUAD LOGO RIGHT */

.nav-nyuad{
	z-index: 2;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	float: right;
}

.nyuad-logo{
	min-width: 136px;
	min-height: 50px;

	height: 5vh;
	width: auto;
}

.nyuad-logo:hover{
	cursor: pointer;
}

/* DROPDOWN */

.nav-dropdown-container{
    z-index: 3;

    width: 100%;         /*When screen is small, middle section disappears so header becomes 2 elements, not 3 */
    height: 100%;
    padding: 0px;

}

.nav-dropdown{

    width: 100%;       /*Size of 'IM' + down arrow */
    height: 100%;       /*Height fills header bar*/
    position: relative;

}

.nav-dropdown-btn{
    padding: 0;
    padding-left: 10px;

    height: 100%;           /*Height fills header bar*/
    display: flex;          /*flexbox to center IM logo and arrow icon*/
    align-items: center;

    text-align: center center;
    transition: color 0.3s linear;
}

.nav-dropdown-btn img {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-right: 20px;
}

.nav-dropdown-btn a, .nav-dropdown-btn a:hover {
	color: black;
	text-decoration: none;
}

.color-shift{
	transition: color 0.2s ease-in-out;
	padding: 0;
	margin: 0;
}

.im-logo {
  font-size: 2.5em;
  font-weight: bold;

  /*padding-left: 20px;*/

  transition: color 0.2s linear;
}


/*Setup style of drop down menu, but do not display yet*/
.nav-dropdown-list{
    background: white;

    position:absolute;
    border: none;
    padding: 0px;
    margin: 0px;
    width: auto;

    font-size: 1.2em;
    text-align: center;

    list-style-type: none;
    display: block;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

    height: 0px;
    overflow: hidden;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}


.nav-dropdown-list li{
    padding: 5px 10px;
    display: inline-block;

    transition: color 0.3s linear;

}

.nav-dropdown-list li:hover{
    cursor: pointer;
}

.nav-dropdown-list a{
    width: 100%;
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
}

@media  (max-width: 768px) and (orientation: portrait){

	.header-container{
		min-height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 5px;
		padding-right: 5px;
	}

	.im-logo {
		font-size: 1.4em;
		padding-left: 5px;
	}

	.nav-dropdown-btn {
		padding: 0;
	}

	.nav-dropdown-btn img{
		padding: 0;
		width: 25px;
		height: 30px;
	}

	.nav-nyuad {
		width: 30%;
	}

	.nyuad-logo {
		min-height: auto;
		min-width: auto;
		height: 40px;
	}

  .nav-dropdown-container{
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
  }

    .nav-dropdown-list {
			font-size: 1em;
			width: 50%;
    }

		.nav-dropdown-mobile{
			width: 100%;
			text-align: left;
			padding: 2px 3px;
		}
}
