.page-subtitle{
  text-align: center;
}

.post-container{
  /*margin: 70px;*/
}

.lab-subpost{
  float: left;
  width: 42%;
  margin: 4%;

  font-size: 1.8em;

  border-bottom: 3px solid black;
}

.post-title{
  font-size: 1.5em;
}

.calendar{
  float: right;
  width: 100%;
  padding: auto;

  font-size: 1.5em;
}

.calendar .post-title{
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.calendar iframe{
  width: 70%;
  margin-left: 15%;
}

.calendar-link{
  display: none;
}

@media (max-width: 500px) and (orientation: portrait){
  .lab-subpost, .post-title {
    width: 90%;
    font-size: 1em;
  }

  .calendar iframe{
    display: none;
  }

  .calendar-link{
    display: block;
    text-align: center;
  }
}
