
body {
	overflow: hidden;
}


/*SKETCH*/

.sketch-container{
	z-index: -1;
	position: absolute;
	top: 5%;
	left: 0;
	height: 100%;

	min-height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;

	background-color: var(--main-colour);
}

#canvas-container{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

canvas{
	width: 100%;
}

/* DESCRIPTIONS */

.description-center{
	z-index: 4;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0;
	transition: opacity 0.9s linear;
}

.description-left, .description-right{
	position: absolute;
	z-index: 3;

	height: auto;
	top: 10%;

	font-size: 1.5em;
	background-color: none;
	line-height: 1.6em;
	text-align: justify;

	background-color: white;
	border: 3px solid black;
	padding: 30px;

	transition: all 0.6s, ease-in-out;
}

.description-left{
	left: -50%;
	width: 30%;
}

.description-right{
	right: -35%;
	width: 30%;
}


@media (max-width: 500px) and (orientation: portrait){ /* essentially mobile */
	body {
	}

	.button-container {
		top: 75%;
	}

	.action-button {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
		font-size: 1.2em;
	}

	.description-left, .description-right {
		font-size: 1.1em;
		line-height: 1.15em;
		width: 80%;
		padding: 10px;
	}

	.description-left {
		left: -80%;
	}

	.description-right {
		right: -80%;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	/*SKETCH*/

}

@media  (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
