/*
	This CSS is for the main site and general styling.
	Colour scheme adjusted using css variables in body tag
	(first element below)

	For style related to dropdown menus, see dropdown.css.
	For style related to the overlays, see overlay.css.
*/

body {

	overflow: hidden;
}


/*SKETCH*/

.sketch-container{
	z-index: -1;
	position: absolute;
	top: 5%;
	left: 0;
	height: 100%;

	min-height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;

	background-color: var(--main-colour);
}

#canvas-container{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

canvas{
	width: 100%;
}

/*ACTION BUTTONS*/

.button-container{
	position: absolute;
	width: 100%;
	top: 80%;
	z-index: 3;

	display: flex;

	padding: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-top: 3px solid black;
	border-bottom: 3px solid black;

	background-color: white;
}

.button-container button{
	z-index: 2;
	text-decoration: none;
	color: var(--dark-colour);

	background-color: white;
	border: none;
	border-bottom: 9px solid white;
	padding: 8px;
}

.button-center{
	width: 30%;
	height: auto;
}

.action-button{
	position: relative;
	top: 0;

	width: 80%;
	margin-left: 10%;
	font-size: 1.6em;

	min-height: 50px;
	min-width: 175px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transform: translateY(0px);

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

.button-left-bg{
	background-color: white;
	border: 3px solid black;
	position: absolute;
	width: 85%;
	height: 100%;
	top: -45%;
	left: -80%; /*-40% start*/
	transform: rotate(75deg);

	z-index: 1;

	transition: left 0.2s ease-in-out;
}

.button-right-bg{
	background-color: white;
	border: 3px solid black;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -25%;
	right: -105%; /*-60%*/
	transform: rotate(-15deg);

	z-index; 1;

	transition: right 0.2s, ease-in-out;
}

/* DESCRIPTIONS */

.description-center{
	z-index: 4;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0;
	transition: opacity 0.9s linear;
}

.description-left, .description-right{
	font-size: 1em;
	background-color: none;
	position: absolute;
	line-height: 1.4em;
	display: none;
	opacity: 0;
	transition: opacity 0.3s linear;
	text-align: justify;
}

.description-left{
	top: 15%;
	left: 0;
	background-color: transparent;
	z-index: 4;
	background: white;
	width: 25%;
	padding-left: 40px;
	padding-right: 20px;


}

.description-right{
	top: 18%;
	right: 0;
	background-color: transparent;
	z-index: 4;
	background: white;
	width: 25%;
	padding-left: 20px;
	padding-right: 40px;

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	/*SKETCH*/

}

@media  (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
