/*
	This CSS is for the main site and general styling.
	Colour scheme adjusted using css variables in body tag
	(first element below)

	For style related to dropdown menus, see dropdown.css.
	For style related to the overlays, see overlay.css.
*/

/*GENERAL*/

body{

	font-family: 'Source Sans Pro', monospace;

	/*Colour scheme. This one is GRAY-t (geddit)*/
	--main-colour: #f2f4f3;
	--secondary-colour: #ced3dc;
	--light-colour: #fcf7f8;
	--dark-colour:#0a0908;

	--link-colour:#a31621;

	color: var(--dark-colour);
	background-color: var(--main-colour);
	/*#b0b5b3*/
	/*#dbdbdb*/
	/*--main-colour: #eee;
	--secondary-colour: #aaa;
	--light-colour: #FFF;
	--dark-colour:#111;

	--link-colour:#a3b;
	*/
	color: var(--dark-colour);
	z-index: 3;

	height:100%;
	width:100%;
	overflow: hidden;
}

/*HEADER*/

#header-container{
	z-index: 3;
	background-color: var(--main-colour);

	height: 5%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 3px solid black;

}

#nav-links{
	width: 50%;

	display: none;

}

.img-fluid{
	width: auto;
	max-height: 5vh;
}

/*SKETCH*/

#sketch-container{
	z-index: -1;
	position: absolute;
	top: 5%;
	left: 0;
	height: calc((100vh - 50px) * 0.7);

	min-height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;

	background-color: var(--main-colour);
}

#canvas-container{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

canvas{
	width: 100%;
}

/*ACTION BUTTONS*/

#button-container{
	position: absolute;
	top: 80%;
	z-index: 3;
	width: 80%;
	height: calc((100vh - 50px)* 0.48);

	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
	outline: 3px solid black;

	background-color: white;
}

#button-container button{
	z-index: 3;
	text-decoration: none;
	color: var(--dark-colour);

	background-color: white;

	border-radius: 50px;
	border: 5px solid white;
	padding: 8px;

	transition: border 0.1s linear;
}

#button-container button:hover{

	/*color: var(--light-colour);*/

	border: 5px solid black;
}

.button-center{
	width: 30%;
	height: auto;
}

.action-button{

	width: 100%;
	height: 10%;

	min-height: 50px;
	min-width: 175px;

	border-color: var(--secondary-colour);
	border-style: solid;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.button-left-bg{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 15%;
	left: -80%; /*-40% start*/
	transform: rotate(75deg);

	z-index: 1;

	transition: left 0.2s ease-in-out;
}

.button-right-bg{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -25%;
	right: -105%; /*-60%*/
	transform: rotate(-15deg);

	z-index; 1;

	transition: right 0.2s, ease-in-out;
}

/* DESCRIPTIONS */

.description-center{
	z-index: 4;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0;
	transition: opacity 0.9s linear;
}

.description-left, .description-right{
	font-size: 1.2em;
	background-color: none;
	position: absolute;
	line-height: 1.8em;
	display: none;
	opacity: 0;
	transition: opacity 0.3s linear;
	text-align: justify;
}

.description-left{
	top: 25%;
	left: 0;
	background-color: transparent;
	z-index: 4;
	background: white;
	width: 25%;
	padding-left: 40px;
	padding-right: 20px;


}

.description-right{
	top: 15%;
	right: 0;
	background-color: transparent;
	z-index: 4;
	background: white;
	width: 25%;
	padding-left: 20px;
	padding-right: 40px;

}

/*FOOTER*/

#footer-container{
	z-index: 3;
	position:fixed;
	bottom:0px;
	right: 0px;
	left:0px;

	background: white;

	height: 2vh;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	#header-container{
		background-color: white;
		z-index: 3;
		height: 5vh;
		min-height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	#nav-links{

		display: flex;
		align-items: center;
		justify-content: center;

	}

	#nav-links a{
		padding: 0 30px;
	}


	.nav-nyuad{

	}


	.img-fluid{

		width: auto;
		max-height: 5vh;

	}

	/*SKETCH*/

	#sketch-container{

		/*background-color: var(--light-colour);*/

		height: calc((100vh - 50px)* 0.8);
		min-height: 400px;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	#canvas-container{

		display: flex;
		justify-content: center;
		align-items: center;

	}

	/*BUTTONS*/

	#button-container{
		z-index: 2;
		width: 100%;
		height: calc((100vh - 50px)* 0.18);

		padding: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}

	.action-button{

		width: auto;
		height: auto;
		display: inline-block;
		margin: auto;

		min-height: 50px;
		min-width: 175px;

		border-color: var(--secondary-colour);
		border-style: none;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 2em;

	}

}

@media  (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
