body{
	margin: 0;
	padding: 0;

	font-family: 'Source Sans Pro', monospace;

	/*Colour scheme. This one is GRAY-t (geddit)*/
	--main-colour: #f2f4f3;
	--secondary-colour: #ced3dc;
	--light-colour: #fcf7f8;
	--dark-colour:#0a0908;

	--link-colour:#a31621;

	color: var(--dark-colour);
	background-color: white;

	color: var(--dark-colour);
	z-index: 3;

	height:100%;
	width:100%;
}

button {
	border: none;
}

.img-fluid{
	width: auto;
	max-height: 5vh;
}

.page-container{
	width: 84%;
	margin: 8%;
	margin-top: 5%;
	display: block;
	text-align: justify;
	background-color: white;
	border: 3px solid black;
	padding: 2%;
	overflow: auto;
}

.page-title{
	text-align: center;
	font-size: 4em;
	background-color: white;
}


/*--------------------------------------*/
/*------------ACTION BUTTONS------------*/
/*--------------------------------------*/

.selected {
	border: 3px solid black;
	border-bottom: none;
}

.unselected {
	border: 3px solid white;
	border-bottom: 4px solid white;
	border-top: 4px solid white;
	background-color: white;
	/*transform: translateY(0px);*/
}

.button-container{
	position: fixed;
	width: 100%;
	top: 80%;
	z-index: 3;

	display: flex;

	padding: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-top: 3px solid black;
	border-bottom: 3px solid black;

	background-color: white;
}

.button-container button{
	z-index: 2;
	text-decoration: none;
	color: var(--dark-colour);

	background-color: white;
	/*border: none;*/

	padding: 8px;
}

.button-center{
	width: 30%;
	height: auto;
}

.action-button{
	position: relative;
	top: 0;

	width: 80%;
	margin-left: 10%;
	font-size: 1.6em;

	min-height: 50px;
	min-width: 175px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transform: translateY(0px);

	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

/*------------------------------*/
/*------------FOOTER------------*/

.footer-container{
	z-index: 3;
	position:fixed;
	bottom:0px;
	right: 0px;
	left:0px;

	background: white;

	height: 2vh;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px;
	border-top: 3px solid black;
}

.about-website-btn{
	color: #007bff;
	cursor: pointer;
}

.about-website {
	z-index: 1;
	position: fixed;
	display: inline-block;
	width: 60%;
	top: 1400px;
	left: 100px;

	background-color: white;
	border: 3px solid black;
	padding: 5%;

	font-size: 1.1em;
	text-align: justify;

	transition: all 0.4s ease;
}

.lewis-quote {
	display: inline-block;
	width: 90%;
	float: left;
	margin-top: 1%;
	padding: 1%;
	font-style: italic;
}

@media (max-width: 500px) and (orientation: portrait){
	body {
	}

	.page-container {
		margin: 2%;
		margin-top: 70px;
		width: 96%;
		margin-bottom: 50px;
	}

	.page-title {
		font-size: 2em;
	}


	/* BUTTONS */
	.action-button {

		min-width: 0px;
		width: 30%;
		margin-left: 10%;
		font-size: 1em;
	}

	.button-container button {
		width: 100%;
	}

	.img-fluid{
		width: auto;
		max-height: 5vh;
	}

	.footer-container {
		font-size: 0.7em;
		padding-left: 0px;
		padding-right: 0px;
	}

	.about-website {
		width: 90%;
		left: 10px;
	}

}

@media (max-height: 876px) {

	.description-left, .description-right {
		font-size: 1em;
	}

	.about-website {
		left: 5%;
		font-size: 0.9em;
		padding: 3%;
	}
 }
