.opportunities-container {
	position: relative;
	height: auto;
	width: auto;
}

/* LISTINGS - LEFT SIDE */

.opportunities-listing-container {
	float: left;
	text-align: right;
	width: 28%;

	border-right: 3px solid black;
}

.opportunity-list-container {
	margin-right: 2%;

	margin-top: 4%;
	margin-bottom: 4%;

	cursor: pointer;

	transition: opacity 0.4s ease;
}


.opportunity-list-title {
	font-size: 1.3em;
	font-weight: bold;
}


/* DETAILS - RIGHT SIDE */

.opportunities-details-container {
	position: relative;
	float: left;
	height: 100%;
	width: 48%;
}

.opportunity-container {
	width: 100%;
	max-width: 90%;
	height: 30px;
	float: right;
	text-align: left;

	padding-right: 10px;
	padding-left: 10px;

	background-color: white;
	border: 3px solid white;

	transition: all 0.4s ease;
	overflow: contain;
}

.opportunity-title {
	float: left;
	font-size: 2em;
	font-weight: bold;
	width: 100%;
}

.opportunity-location, .opportunity-deadline{
	float: right;
	width: 45%;
	text-align: right;
	font-size: 1.3em;
	font-style: italic;
}

.opportunity-location {
	text-align: left;
	float: left;
}

.opportunity-description {
	float: left;
	text-align: justify;

	padding-top: 10px;
	padding-bottom: 10px;
}

.opportunity-categories {
	font-style: italic;
	font-size: 1.2em;

	float: left;
	width: 100%;
}

.opportunity-link {
	float: right;
	text-align: right;
	font-weight: bold;
	margin-bottom: 1%;
	width: 100%;
}

@media (max-width: 500px) and (orientation: portrait){

	.opportunity-container {
		width: 100%;
		min-height: 90%;
	}

	.opportunity-list-title{
		font-size: 1.2em;
		padding-right: 5px;
	}

	.opportunity-list-category {
		padding-right: 5px;
		font-size: 1em;
	}

	.opportunities-details-container {
		width:70%;
	}

	.opportunity-title {
		font-size: 1.2em;
		float: right;
	}

	.opportunity-location, .opportunity-deadline, .opportunity-description, .opportunity-categories{
		font-size: 1em;
		width: 100%;
	}

	.opportunity-deadline, .opportunity-location {
		width: 100%;
	}

	.opportunity-list-container {
		/*margin-top: 20px;*/
		margin-bottom: 20px;
	}

}
