.page-container {
	overflow: hidden;
	margin-bottom: 4%;
}

.all-headshots-container {
	width: 48%;
	float: left;
	overflow: hidden;
	margin-top: 3%;
}

/* HEADSHOTS LEFT */

.headshots-container {
	height: auto;
	overflow: auto;
	margin-bottom: 15%;
}

.people-role {
	font-size: 1.8em;
	font-weight: bold;
}

.single-headshot {
	position: relative;
	float: left;
	width: 40%;
	height: 380px;
	margin: 3%;
	padding: 2%;
	border: 3px solid black;

	cursor: pointer;
}

.headshot-image-container {
	display: block;
	width: 100%;
	/* height: 100%; */
	height: auto;
}

.headshot-image-container img {
	width: 100%;
	display: block;
}

.headshot-name {
	display: block;
	font-weight: bold;
	text-align: center;
	min-height: 20px;
	width: 90%;
}

.headshot-description {
	top:10px;
	display: block;
	font-style: italic;
	text-align: center;
	position: relative;
	bottom: 10px;
	width: 90%;
	min-height: 20px;
	margin-left: 0%;
}


/* BIOS RIGHT */

.bio-restrain{

}

.bio-container {
	position: fixed;
	top: 35%;
	right: 10%;
	width: 43%;
	border-left: 3px solid black;
	float: right;
	overflow: hidden;
	transition: top 0.2s ease;
}

.current-expand {
	color: white;
}

.current-headshot-container, .current-name, .current-roles, .current-courses, .current-description, .current-website, .current-email {
	display: inline-block;
	border: none;
	border-bottom: 3px solid black;
	float: left;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	height: auto;
	max-height: 0;
	overflow: hidden;

	margin-bottom: 2%;

	transition: all 0.5s ease-in-out;
}
.current-headshot-container {
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.current-headshot-container img {
	padding: 1%;
	width: 98%;
}

.current-name, .current-roles{

	float: right;
	width: 50%;
	margin-left: auto;

	text-align: right;
}

.current-name {
	font-weight: bold;
}

.current-roles {
	float: left;
	text-align: left;
}

.current-courses {

}

.current-descriptions {

}

.current-website {
	float: left;
}

.current-email {
	float: right;
}

@media (max-width: 500px) and (orientation: portrait){

	.headshots-container {
		width: 50%;
	}

	.all-headshots-container {
		display: block;
		width: 100%;
		float: left;
	}

	.people-role {
		font-size: 1.3em;
	}

	.single-headshot {
		width: 80%;
		height: auto;
		margin-left: 0;
		margin-right: 0;

		padding-bottom: 20px;
	}

	.headshot-image-container {
		width: 100%;
	}

	.bio-container {
		position: fixed;
		width: 50%;
		top: 30%;
		right: 5%;

		border: none;

		font-size: 0.8em;
	}

	.headshot-description {
		font-size: 0.8em;
		bottom: 10px;
	}

	.headshot-name, .headshot-description {
		width: 100%;
	}

	.current-headshot-container {
		display: none;
	}

	.current-headshot-container, .current-name, .current-roles, .current-courses, .current-description, .current-website, .current-email{
		border: none;
		border-bottom: 2px solid black;
	}

	.current-roles {
		width: 100%;
	}
}
