

.page-container{
	max-width: 992px;
	margin: 0 auto;
	padding: 20px;

	background-color: var(--main-colour);

}

.page-title{
	text-align: center;
}

.post-container{
	margin: 25px auto;
}
.post-title{
	font-weight: bolder;
	font-size: 1.4em;
}

.post-subtitle{
	font-weight: bold;
}
.double-underline{
	display: inline;
	border-bottom-style: double;
	border-bottom-color: purple;
}
.workshop-title{
	/*color:rgb(220,0,0);*/
	color: purple;
}

.open-course{
	/*color: rgb(220,0,0);*/
	color: purple;
}
.open-course button{
	/*color: rgb(255,0,0);*/
	/*background-color: rgb(255,0,0);*/
	color: purple;
}

.open-course button:hover{
	color: white;
	background-color: purple;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

@media  (min-width: 992px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
