body {
	transition: background-color 0.2s ease;
}

/* MAIN STRUCTURE */

.workshops-container {
	width: 80%;
	margin-left: 10%;
	border-right: 3px solid black;
	border-left: 3px solid black;

	overflow: auto;
	margin-top: 100px;
}

.workshops-container .workshops-title {
	width: 100%;
	text-align: center;
	border-width: 3px 0;
	border-color: black;
	border-style: solid;
	margin-bottom: 5%;
	font-weight: bold;
	font-size: 26px;
}

.workshops-past {
	overflow: auto;
	width: 100%;
}

.workshops-upcoming {
	overflow: auto;
	width: 100%;
}

/* INDIVIDUAL WORKSHOPS */

.bg-lightgreen {
	background-color: lightgreen;
}

.bg-pink {
	background-color: pink;
}

.bg-lightblue {
	background-color: lightblue;
}

.workshop-container{
	width: 60%;
	margin-bottom: 5%;
	overflow-x: visible;
}

.workshop-title {
	width: 100%;
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	min-width: auto;

	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

	text-align: center;
}

.workshop-title.workshop-past {
	/* Nothing here, use me or delete me as you see fit! */
}

.workshop-instructor {
	font-weight: bold;
	font-size: 1.1em;
}

.workshop-description {
	font-style: italic;
	text-align: justify;
	margin-top: 1%;
	margin-bottom: 1%;
}

.workshop-location, .workshop-tags, .workshop-links {
	width: 100%;
}

.container-left {
	float: left;
	text-align: left;
}

.container-right {
	float: right;
	text-align: right;
}

.container-left .workshop-title {
	float: left;
	border: 3px solid black;
	border-left: none;
}

.container-right .workshop-title {
	float: right;
	border: 3px solid black;
	border-right: none;
}

.subcontainer-left, .subcontainer-right {
	position: relative;
	color: black;
	border: 3px solid black;
	margin-top: 1%;
	padding: 10px;
	width: 800px;
	max-height: 200px;
	overflow: hidden;

	transition: all 0.3s ease;
}

.subcontainer-left{
	float: left;
	border-left: none;
}

.subcontainer-right {
	float: right;
	border-right: none;
}

.subcontainer-left .workshop-date, .subcontainer-left .workshop-location{
	float: right;
	text-align: right;
}

.subcontainer-right .workshop-date, .subcontainer-right .workshop-location{
	float: left;
	text-align: left;
}

.subcontainer-left .workshop-instructor, .subcontainer-left .workshop-tags, .subcontainer-left .workshop-links {
	float: left;
}

.subcontainer-right .workshop-instructor, .subcontainer-right .workshop-tags, .subcontainer-right .workshop-links {
	float: right;
}

.subcontainer-left .workshop-description {
	float: left;
}

.subcontainer-right .workshop-description {
	float: right;
}

@media (max-width: 500px) and (orientation: portrait){
	.workshops-container {
		width: 96%;
		margin: 2%;
	}

	.workshop-subcontainer {
		max-width: 150%;
		overflow-y: scroll;
	}

	.subcontainer-left, .subcontainer-right {
		max-height: 300px;

		transition: all 0.4s ease;
	}

	.workshop-description {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
